#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.main {
  padding: 4em;
}

.cards_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2em;
}

.cards_list_fav,
.cards_lis {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 2rem;
  justify-items: center;
  margin-bottom: 2em;
}



img {
  border-radius: 1rem;
  width: 100%;
  object-fit: contain;
}

.read-the-docs {
  color: #888;
}
