.form {
    display: flex;
    gap: 4px;
    padding: 10px 0px;
    align-items: center;
    justify-content: center;
  }
  
  .form select,
  .form input,
  .form button {
    padding: 8px 10px;
  }
  
  .form button {
    background: rgb(70, 33, 33);
    border: 1px solid darkgray;
    border-radius: 4px;
  }
  